body {
    background-image: url("../images/egg.jpeg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center; 
}
.col {
    text-align: center;
}
#header {
    float: left;
}
span {
    float: left;
}