body {
    background-color: rgb(12,20,31);
    /* background-image: url("../images/egg.jpeg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;  */
    color: rgb(111,195,223);
    font-family: "Bookman", serif

}
header {
    position: fixed;
}
/* .col {
    text-align: center;
} */
#header {
    float: left;
}
span {
    float: left;
    color: rgb(111,195,223)
}
p {
    text-align: center;
}