html {
    scroll-behavior: smooth;
  }

body {
    background-color: #1b1b1b;
    color: rgb(230,255,255);
    font-family: "Bookman", serif;
    font-size: 10px;
    text-shadow: 
    0 0 9px rgb(230,255,255);
    filter: brightness(130%);

}
.logo {
    filter: brightness(130%);
    float: left;
    font-size: 22px;
}
.logoCenter {
    margin-top: 52px;
}
.landing {
    height: 100vh;
}
header {
    width: 12px;
    padding: 12px;
    margin: 35px; 
    position: fixed;
}
a {
    color: rgb(196, 240, 255);
    font-size: 18px;
    filter: brightness(130%);
    transition: color 0.3s ease;
    writing-mode: vertical-rl;
    text-orientation: upright;
    margin: 20px;
}
a:hover{
    color: rgb(111,195,223);
    text-decoration: none;
}
p {
    text-align: center;
    filter: brightness(130%);
}

@media (max-width: 720px) {
    #header {
        word-wrap: none;
        width: 100%;
        height: auto;
        position: fixed;
        margin: auto;
        margin-bottom: 25px;
    }
    a {
        padding: 30px;
        text-align: left;
        writing-mode: horizontal-tb;
    }
}